# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs & debug
*.log
*.log.*

# Environment variables
.env
.env.local
.env.*.local

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo
